h1{color: #1A88FF; font-family: Impact; font-size: 50px}
	h1{text-align: center;}
	h1{margin-bottom: 5pt}
body{background-color: #CFDD78}
	body{text-align: center;}
p{color: #1A88FF; font-family: Helvetica; font-size: 20px;}
ol{color: #FF171B;font-family: helvetica; font-size: 20px;}
a{color: #000000; font-family: Helvetica; font-size: 20px; text-decoration: none;}
a:hover{color: #FF7017;}

